.text-block {
  margin-top: 40px;
}

.title {
  margin-top: 40px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  color: $dark-gray;
  text-align: center;
}

.headline {
  font-size: 20px;
  font-weight: 600;
  color: $gray;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: $dark-gray;
}

a.mail, a.tel {
  color: inherit;
  font-weight: 500;
  text-decoration: underline 1px;

  &:active {
    background-color: $light-blue;
  }
}

a.link-page {
  font-weight: inherit;
  text-decoration: underline 1px;

  &:active {
    background-color: $light-blue;
  }
}

.list {
  margin: 10px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__item {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: $dark-gray;

    &::before {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      margin: 1px 7px;
      border-radius: 50%;
      background-color: $gray;
    }
  }
}